<html>
<head>
<title>Pro Football Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
</script>
</head>

<body >
    <nav>
        <div class="nav-links">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="/teams">TEAMS</a></li>
            <li><a href="./players.html">PLAYERS</a></li>
            <li><a href="./games.html">GAMES</a></li>
            <li><a href="./player_game.html">PLAYER GAME STATS</a></li>
            <li><a href="./seasons.html">SEASONS</a></li>
        </ul>
        </div>
    </nav>
    <h1>PRO FOOTBALL DATABASE</h1>
    <div id="homeInfo" style="display: block" class="container">
        Pro Football Database is a database that allows the user to record teams, team rosters, games,
        player game stats and the Super Bowl champion and runner up for each season.
    </div>
    <footer>Pro Football Database | Group 45 | Billy Fifield & Kyle Westover</footer>
</body>
</html>