<html>
<head>
<title>Teams</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
</script>
</head>

<body>
    <nav>
        <div class="nav-links">
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="#">TEAMS</a></li>
            <li><a href="./players.html">PLAYERS</a></li>
            <li><a href="./games.html">GAMES</a></li>
            <li><a href="./player_game.html">PLAYER GAME STATS</a></li>
            <li><a href="./seasons.html">SEASONS</a></li>
        </ul>
        </div>
    </nav>
    <div id="teams" class="container">
        <legend id="teamTitle"><strong>Teams</strong></legend>
        <p>A table to view and add team information.</p>
        <table border="1" cellpadding="5">
            <tr>
            <th>Team ID</th>
            <th>Team City</th>
            <th>Team Name</th>
            <th>Conference</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Denver</td>
                <td>Broncos</td>
                <td>AFC</td>
                <td><a href="#" onClick="location.href='./update_teams.html'">Edit</a></td>
                <td><a href="#" onClick="location.href='./delete_teams.html'">Delete</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tennessee</td>
                <td>Titans</td>
                <td>AFC</td>
                <td><a href="#" onClick="location.href='./update_teams.html'">Edit</a></td>
                <td><a href="#" onClick="location.href='./delete_teams.html'">Delete</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Pittsburgh</td>
                <td>Steelers</td>
                <td>AFC</td>
                <td><a href="#" onClick="location.href='./update_teams.html'">Edit</a></td>
                <td><a href="#" onClick="location.href='./delete_teams.html'">Delete</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Detroit</td>
                <td>Lions</td>
                <td>NFC</td>
                <td><a href="#" onClick="location.href='./update_teams.html'">Edit</a></td>
                <td><a href="#" onClick="location.href='./delete_teams.html'">Delete</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Philadelphia</td>
                <td>Eagles</td>
                <td>NFC</td>
                <td><a href="#" onClick="location.href='./update_teams.html'">Edit</a></td>
                <td><a href="#" onClick="location.href='./delete_teams.html'">Delete</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input type="submit" value="Add Team"><a href="#"></a></input></td>
            </tr>    
        </table>
        <br>
        <br>
        <hr>
    </div>
    <footer>Pro Football Database | Group 45 | Billy Fifield & Kyle Westover</footer>
</body>
</html>