<html>
<!-- Adapted from the players.html UI design -->
<head>
	<title>Players</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newPlayer() {
		showform('insert');
	}
	function updatePlayer(pid) {
		showform('update');
	}
	function deletePlayer(pid) {
		showform('delete');
	}
	function browsePlayers() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browsePlayers()">
	<nav>
	<div class="pfdbTitle">Pro Football Database</div>
	<div class="nav-links">
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/teams">TEAMS</a></li>
		<li><a href="#">PLAYERS</a></li>
		<li><a href="/games">GAMES</a></li>
		<li><a href="/player_game">PLAYER GAME STATS</a></li>
		<li><a href="/seasons">SEASONS</a></li>
	</ul>
	</div>
    </nav>
	<div id="browse">
		<legend id="teamTitle"><strong>Players</strong></legend>
		<div id="insert">
		<!-- form to INSERT new data into Players-->
		<form id="insertPlayer" action="/players" method="post">
			<legend><strong>Add Player</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="make">Player First Name:</label>
				<input type="text" class="form-control" id="fname" name="fname" pattern="[A-Za-z ]{1,}" placeholder="" required>

				<label for="model">Player Last Name:</label>
				<input type="text" class="form-control" id="lname" name="lname" pattern="[A-Za-z ]{1,}" placeholder="" required>

				<label for="m">Primary Position:</label>
				<input type="text" class="form-control" id="primary_position" name="primary_position" pattern="[A-Za-z ]{1,}" placeholder="" required>

				<label for="year">Team:</label>
				<select class="form-control" id="team_id" name="team_id" pattern="[0-9]{1,}" placeholder="" required>
					<option value="0" selected>&nbsp;</option>
                    {% for x in team_data %}       
					<option value="{{ x.team_id }}">{{ x.team_name }}</option>
					{% endfor %}
				</select>

			<!-- Create 'Add Player' button -->
			<input type="submit" value="Add Player" name="Add_Player" class="btn btn-primary" style="margin:.5rem;">

            </fieldset>
        </form>
		</div>
	<br>
	</div><!--insert-->
    <div>
		<table border="1" cellpadding="5">
			<!-- Access data tuple passed from app.py -->
			{% if data %}
				<thead>
					<tr>
						<!-- Iterate through each key in the first entry to get the column name -->
						{% for key in data[0].keys() %}

						<!-- Create a <th> tag with the key inside of it, this will be our header row -->
						<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

						<!-- End of this for loop -->
						{% endfor %}
					</tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
						<tr>
							<!-- Then iterate through every key in the current item dictionary -->
							{% for key in item.keys() %}

							<!-- Create a <td> element with the value of that key in it -->
							<td> {{item[key]}} </td>
							{% endfor %}

							<!-- Create our edit/delete buttons -->
							<td><a href="edit_player/{{item.player_id}}" class="btn btn-default">Edit</a></td>
							<td><a href="delete_player/{{item.player_id}}" class="btn btn-default">Delete</a></td>

						</tr>
						{% endfor %}            
				{% endif %}
        </table>
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<footer>Pro Football Database | Group 45 | Billy Fifield & Kyle Westover</footer>
</body>
</html>
