<html>
<!-- Adapted from the player_game.html UI design -->
<head>
	<title>Player Game Stats</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newPlayerGames() {
		showform('insert');
	}

	function updatePlayerGame(pid) {
		showform('update');
	}

	function deletePlayerGame(pid) {
		showform('delete');
	}

	function browsePlayerGame() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browsePlayerGame()">
	<nav>
	<div class="pfdbTitle">Pro Football Database</div>
	<div class="nav-links">
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/teams">TEAMS</a></li>
		<li><a href="/players">PLAYERS</a></li>
		<li><a href="/games">GAMES</a></li>
		<li><a href="#">PLAYER GAME STATS</a></li>
		<li><a href="/seasons">SEASONS</a></li>
	</ul>
	</div>
    </nav>
	<div id="browse">
		<legend id="teamTitle"><strong>Player Game Stats</strong></legend>
		<div id="insert">
		<!-- form to INSERT new data into Players-->
		<form id="insertPlayerGame" action="/player_game" method="post">
			<legend><strong>Add Player Game Stats</strong></legend>
			<fieldset>
					<!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
					<label for="make">Player:</label>
					{% if player_data %}
					<select class="form-control" id="player_id" name="player_id" pattern="[0-9]{1,}" placeholder="" required>
						<option value="">&nbsp;</option>
						{% for x in player_data %}
						<option value="{{x.player_id}}">{{x.name}}</option>
						{% endfor %}
					</select>
					{% endif %}

					<label for="model">Game:</label>
					{% if game_data %}
					<select class="form-control" id="game_id" name="game_id" pattern="[0-9]{1,}" placeholder="" required>
						<option value="">&nbsp;</option>
						{% for x in game_data %}
						<option value="{{x.game_id}}">{{x.game_id}}</option>
						{% endfor %}
					</select>
					{% endif %} 

					<label for="year">Passing Yards:</label>
					<input type="text" value="0" class="form-control" id="passing_yard_total" name="passing_yard_total" pattern="[0-9]{1,}" placeholder="" required>

					<label for="a">Passing TDs:</label>
					<input type="text" value="0" class="form-control" id="passing_td_total" name="passing_td_total" pattern="[0-9]{1,}" placeholder="" required>

					<label for="b">Rushing Yards:</label>
					<input type="text" value="0" class="form-control" id="rushing_yard_total" name="rushing_yard_total" pattern="[0-9]{1,}" placeholder="" required>

					<label for="c">Rushing TDs:</label>
					<input type="text" value="0" class="form-control" id="rushing_td_total" name="rushing_td_total" pattern="[0-9]{1,}" placeholder="" required>

					<label for="d">Receiving Yards:</label>
					<input type="text" value="0" class="form-control" id="receiving_yard_total" name="receiving_yard_total" pattern="[0-9]{1,}" placeholder="" required>
					<br>
					<label for="e">Receiving TDs:</label>
					<input type="text" value="0" class="form-control" id="receiving_td_total" name="receiving_td_total" pattern="[0-9]{1,}" placeholder="" required>

            	<!-- Create 'Add Player Game Stats' button -->
				<input type="submit" value="Add Player Game Stats" name="Add_Player_Game" class="btn btn-primary" style="margin:.5rem;">
			</fieldset>
		</form>
		</div>
	<br>
	</div><!--insert-->
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_player_game/{{item.player_stats_id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_player_game/{{item.player_stats_id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->
    <footer>Pro Football Database | Group 45 | Billy Fifield & Kyle Westover</footer>
</body>
</html>