<html>

<head>
	<title>Season Games</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
	<nav>
	<div class="pfdbTitle">Pro Football Database</div>
	<div class="nav-links">
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/teams">TEAMS</a></li>
		<li><a href="/players">PLAYERS</a></li>
		<li><a href="/games">GAMES</a></li>
		<li><a href="/player_game">PLAYER GAME STATS</a></li>
		<li><a href="/seasons">SEASONS</a></li>
	</ul>
	</div>
    </nav>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Season Games: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
    </div>
    <footer>Pro Football Database | Group 45 | Billy Fifield & Kyle Westover</footer>
</body>
</html>